name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    env:
      ACTIONS_STEP_DEBUG: true
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: kharutta
          filename: github-metrics.svg
          config_timezone: Asia/Bangkok

          base: header, activity, community, repositories

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_calendar: yes
          plugin_calendar_limit: 365

          plugin_languages: yes
          plugin_languages_details: percentage, bytes-size
          plugin_languages_limit: 10
